.question {
  width: 50%;
  margin: 40px auto;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
  padding: 20px;
  border-radius: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #b4b0b0;
}

/* .answer-button {
  height: 100px;
  width: 150px;
  background-color: blue;
} */

#question-area {
  margin-top: 100px;
}

#like,
#dislike,
#answer,
#submit-answer {
  background-color: #6e76a0;
  border: none;
  color: white;
  font-size: 16px;
  margin: 2px;
  opacity: 0.9;
  transition: 0.3s;
  text-align: center;
}
