.question {
  width: 50%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #b4b0b0;
}

/* .answer-button {
  height: 100px;
  width: 150px;
  background-color: blue;
} */
